
{% extends 'base.html' %}

{% block titulo %} Recetas Registradas {% endblock %}

{% block css %}
	<style>
		img { width: 188px; }
	</style>
{% endblock %}

{% block encabezado %}
	<h1>Nuestras Recetas</h1>
{% endblock %}

{% block contenido %}
	<ul>
		{% for dato in datos %}
			<li>
				<a href="/receta/{{dato.id}}">{{dato.titulo}}</a
				>
				<img src="{{MEDIA_URL}}{{dato.imagen}}">
			</li>
			{% empty %}
			<li>Aun no hay recetas registradas</li>
		{% endfor %}
		<a href="/receta/nueva">Agregar una receta</a>
	</ul>
{% endblock %}